<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>spring security oauth2 client</title>
</head>

<body>
<div class="container">
    <div class="col-sm-12">
        <h1>spring security oauth2 client</h1>
        <a class="btn btn-primary" href="/user">see personal information</a>
    </div>
</div>
<script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="https://cdn.bootcdn.net/ajax/libs/localforage/1.10.0/localforage.min.js"></script>
</body>
</html>
