<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>spring security oauth2 client</title>
</head>

<body>
<div class="container">
    <div class="col-sm-12">
        <h1>spring security oauth2 client</h1>
        <a class="btn btn-primary" href="/user">see personal information</a>
    </div>
</div>
<script src="../static/assets/jquery-3.4.1.min.js"
        th:src="@{/assets/jquery-3.4.1.min.js}"></script>
<script th:src="@{/assets/localforage.min.js}" src="../static/assets/localforage.min.js"></script>
</body>
</html>