<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>Spring Security SSO</title>
    <link rel="stylesheet" href="../static/assets/bootstrap/css/bootstrap.min.css"
          th:href="@{/assets/bootstrap/css/bootstrap.min.css}"/>
</head>

<body>
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h1>Secured Page</h1>
            Welcome, <span th:text="${#authentication.name}">Name</span><br>
            authorities, <span th:text="${#authentication.authorities}">Name</span><br>
        </div>
    </div>

    <div>
        <a href="/logout">logout</a>
    </div>
</div>
<script src="../static/assets/jquery-3.3.1.min.js"
        th:src="@{/assets/jquery-3.3.1.min.js}"></script>
<script src="../static/assets/bootstrap/js/bootstrap.min.js"
        th:src="@{/assets/bootstrap/js/bootstrap.min.js}"></script>
<script th:src="@{/assets/localforage.min.js}" src="../static/assets/localforage.min.js"></script>
</body>
</html>